* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: hsl(235, 36%, 46%);
}
header {
  width: 100%;
  background-color: aqua;
  padding: 2rem 2rem;
  font-family: "Red Hat Display";
  font-size: 2rem;
  color: hsl(235, 36%, 46%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* tarvitaan mobiilissa */
  box-sizing: border-box;
}

.nav-links {
  display: flex;
  gap: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* ако не се побират, да минат на следващ ред */
  height: 100vh;
  margin-top: 0.6rem; /* ето реално разстояние под header */
  gap: 20px; /* разстояние между картите */
  background-color: aqua;
}

.box {
  background-color: white;
  color: black;
  width: 300px; /* фиксирана ширина */
  height: 300px; /* квадрат */
  display: flex;
  flex-direction: column; /* подрежда елементите вертикално */
  justify-content: center; /* центрира вертикално box */
  align-items: center;
  padding: 20px; /* малко вътрешно разстояние */
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.formcontainer {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  font-family: "Red Hat Display", sans-serif;
  gap: 10px;
}

form label {
  font-weight: bold;
  color: black;
}

form input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3;
}

button {
  background-color: hsl(235, 36%, 46%);
  color: white;
  /* border: none; */
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  /* cursor: pointer; */
  font-size: 1rem;
  /* transition: background-color 0.3s ease; */
}

.attribution {
  margin-top: 10px;
  color: white;
  font-size: 0.9em;
  width: 100%;
  background-color: aqua;
  padding: 1rem 1rem;
  font-family: "Red Hat Display";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* tarvitaan mobiilissa */
  box-sizing: border-box;
}

.attribution .counter-container {
  display: flex;
  align-items: center;
  gap: 10px; /* разстояние между бутоните и брояча */
}

.attribution a {
  color: hsl(235, 36%, 46%);
  text-decoration: none;
  margin-left: 0.3em;
}

.attribution a:hover {
  text-decoration: underline;
}
